In [248]:
#teste  importar pandas e dados
import pandas as pd
import glob
df = pd.read_csv("starnet_2014-12-31_flash.dat", sep="\s+",header=None, prefix="Coluna_" )
#df = pd.concat(map(pd.read_csv, glob.glob('starnet*.dat')),ignore_index=True, axis=1)

In [168]:
df.head()

,Coluna_0,Coluna_1,Coluna_2,Coluna_3,Coluna_4,Coluna_5,Coluna_6,Coluna_7,Coluna_8,Coluna_9,...,Coluna_21,Coluna_22,Coluna_23,Coluna_24,Coluna_25,Coluna_26,Coluna_27,Coluna_28,Coluna_29,Coluna_30
0,2014,1,1,10,18,55,554564,-14.95046,-50.22634,3.074,...,0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.000000
1,2014,1,1,10,42,36,100146,-17.34422,-47.47492,2.891,...,0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.000000
2,2014,1,1,11,53,3,467103,-22.71605,-44.70735,3.199,...,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.000000
3,2014,1,1,12,11,41,984563,-17.14774,-46.73178,3.347,...,0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.000000
4,2014,1,1,13,10,8,17682,-15.87977,-49.00942,2.625,...,0,3.0,2.0,3.0,2.0,3.0,0.0,2.0,3.0,0.050964

In [169]:
#filtrando pela coluna 11 de qualidade
filtro1 = df[df.Coluna_11==0][["Coluna_0","Coluna_1","Coluna_2","Coluna_3","Coluna_4","Coluna_5","Coluna_7","Coluna_8","Coluna_11"]].head()

In [250]:
#código filtro dados

#extrair todos os arquivos na mesma pasta que python estiver rodando.

#importando módulos
import pandas as pd
import glob
#criar lista com os arquivos do ano
dados = glob.glob('starnet*.dat')
#loop para ler todos arquivos e filtrar pela Coluna 11 que são os dados de qualidade
for i in range(0,365):
    df = pd.read_csv(dados[i], sep="\s+",header=None, prefix="Coluna_" )
    filtro1 = df[df.Coluna_11==0][["Coluna_0","Coluna_1","Coluna_2","Coluna_3","Coluna_4","Coluna_5","Coluna_7","Coluna_8","Coluna_11"]]
    filtro1.to_csv('%i_2014.csv' %i)
# juntando todos os arquivos criados no filtro e criar um arquivo csv com todos os dados do ano
dados2014 = pd.concat(map(pd.read_csv, glob.glob('*_2014.csv')),ignore_index=True, axis=0)
dados2014.to_csv('dados2014.csv',index=False)